.modal {
    height: 100vh; /* растянуть по всей высоте */
    width: 100vw; /* растянуть по всей ширине */
    background-color: rgba(0,0,0,0.4); /* черный цвет, прозрачность 0.4 */
    position: fixed; /* чтобы при скроллинге окна, модальное всегда оставалось по середине */
    top: 0; /* топ и лефт - это чтобы прилепить к верхнему левому углу */
    left: 0; 
    /* Оцентруем: */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; /* непрозрачный элемент */
    pointer-events: none; /* чтобы модальное окно не перекрывало элементы на странице */

    transition: 0.5s; /* чтобы анимировать открытие окна */
}

.modal.active{
pointer-events: all; /* возвращаем, чтобы можно было пользоваться */
opacity: 1;/*  когда активно делаем видимость на 1 и сразу видно модальное окно */
}

.modal__content{
    padding: 20px;
    border-radius: 12px; /* закруглим края */
    background-color: white;
    /* height: 200px; в самом конце убираем высоту - она будет задаваться динамически */
    /* width: 200px; ширину меняем на половину от ширины экрана */
    width: 50vw;
    /* в конце анимируем контент */
    transform: scale(0.5); /* уменьшим на половину */
    transition: 0.4s all; /* чтобы все анимировалось */
}

/* если класс модел контент содержит эктив, то тогда работаем */

.modal__content.active {
    /* когда окно активное мы возвращаем его в полный режим::: */
    transform: scale(1);
}


